<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <!-- footer -->
    <footer>
        <div class = "container-fluid menu-utama">
            <div class = "row">


                <div class = "col-sm-3">
                    <div><img class="dribbble_text" src="{% static 'images/logo-footer/logo-text-drible.png'%}"  ></div>
                    <div><h3 class="footer_submenu">Show and tell for designers</h3></div>
                    <div><p class="footer_paragraf">What are you working on? Dribbble is a 
                            community of designers sharing screenshots 
                            of their work, process, and projects</p>
                        <div>
                            <img class="logo-sosmed" src="{% static 'images/logo-footer/ball-logo-black-white.png'%}">
                            <img class="logo-sosmed" src="{% static 'images/logo-footer/logo-twitter-black-white.png'%}">
                            <img class="logo-sosmed" src="{% static 'images/logo-footer/logo-facebook-black-white.png'%}">
                            <img class="logo-sosmed" src="{% static 'images/logo-footer/logo-instagram-black-white.png'%}">
                            <img class="logo-sosmed" src="{% static 'images/logo-footer/logo-browser-black-white.png'%}">      
                        </div>
                        <br>
                    </div>
                </div>


                <div class = "col-sm-6">
                    <div class = "container-fluid">
                        <div class = "row">
                            <div class="col-sm-2">
                                <ul class="list-unstyled">
                                    <li class="footer_submenu">Dribbble</li>
                                    <div class="footer_paragraf">
                                        <li>About</li>
                                        <li>Help</li>
                                        <li>Contact</li>
                                        <li>Careers</li>
                                        <li>Terms</li>
                                        <li>Guidelines</li>
                                        <li>Privacy</li>
                                        <li>Playoffs</li>
                                    </div>
                                </ul>
                            </div>
                            <div class = "col-sm-2 footer_paragraf">
                                <ul class="list-unstyled">
                                    <br>
                                    <br>
                                    <li>Shop</li>
                                    <li>Testimonials</li>
                                    <li>Media Kit</li>
                                    <li>Advertise</li>
                                    <li>API</li>
                                    <li>Apps</li>
                                    <li>Places</li>
                                </ul>
                            </div>
                            <div class = "col-sm-4">
                                <ul class="list-unstyled">
                                    <li class="footer_submenu">Hiring at Dribbble</li>
                                    <div class="footer_paragraf">
                                        <li>Post a job</li>
                                        <li>Search designers</li>
                                        <li>Add your team</li>
                                    </div>
                                    <br>
                                    <li class="footer_submenu">Directories</li>
                                    <div class="footer_paragraf">
                                        <li>Jobs</li>
                                        <li>Tags</li>
                                    </div>
                                </ul>
                            </div>
                            <div class = "col-sm-4">
                                <ul class="list-unstyled">
                                    <li class="footer_submenu">Jobs for Designers</li>
                                    <!-- <br> -->
                                    <div class="footer-designer">
                                        <img class="logo-designer" src="{% static 'images/logo-footer/logo-klarna.png'%}">
                                        <li class="footer_paragraf"><strong>Apartmen List</strong></li>
                                        <li class="footer_paragraf">Sr. Product Designer</li>
                                        <br>
                                        <img class="logo-designer" src="{% static 'images/logo-footer/logo-airtime.png'%}">
                                        <li class="footer_paragraf"><strong>Air Time</strong></li>
                                        <li class="footer_paragraf">Designer/ Art Director (Brand)</li>
                                        <br>
                                        <img class="logo-designer" src="{% static 'images/logo-footer/logo-minimal.jpeg'%}">
                                        <li class="footer_paragraf"><strong>Justworks</strong></li>
                                        <li class="footer_paragraf">Senior Product Designer, Mobile</li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class = "container-fluid">
                        <div class = "row">
                            <div><img class="footer-adds-logo" src="{% static 'images/logo-footer/adds-adobe.png'%}">
                                <p class="footer_paragraf">Limited time offer: Get 10 free Adobe Stock images.
                                    <span class="footer_submenu ads-via"><strong>ADS VIA CARBON</strong></span></p>
                            </div>
                            <div class="col-sm-3"><img src="{% static 'images/logo-footer/ball-logo-pink.png'%}"></div>
                            <div class="col-sm-6">
                                <p>10,997,418  <span class="footer-shots">shots dribbbled</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <p class="footer_paragraf">© 2020 Dribbble. All rights reserved</p>
                </div>
                <div class="col-sm-6">
                    <p class="footer-made">Made with ♥ remotely from Salem, MA Walnut Creek</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
</body>
</html>